<<<<<<< HEAD:assets/css/style.css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cc99ff;
    background-image: url("../images/Sandy\ and\ Erika.jpg");
}

img {
    max-height: 175vh;
}

header {
    padding: 20px 35px;
    background-color: #cc6699;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/Sandy\ and\ Erika.jpg");
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #cc6699;
}

header nav {
    margin: 0%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;

}

footer {
    background: #cc6699;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    padding: 60px;
    background-color: #cc99ff;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    background-image: url("../images/Sandy\ and\ Erika.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #cc6699;
    display: inline-block;
}

.intro p {
    line-height: 1.7;
    color: #fce138;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background-image: url("../images/Sandy\ and\ Erika.jpg");
}

.img {
    size: 10%;
}

.contact {
    background: #024e76;
}

.contact h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}



.contact-info h2 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }


    .section-title {
        width: 80%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }


    .img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cc99ff;
}

img {
    max-height: 175vh;
}

header {
    padding: 20px 35px;
    background-color: #cc6699;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 0%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;

}

footer {
    background: #cc6699;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section {
    padding: 60px;
    background-color: #cc99ff;
    background-image: url("../images/Sandy\ and\ Erika.jpg");
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    background-image: url("../images/Sandy\ and\ Erika.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #cc6699;
    display: inline-block;
}

.intro p {
    line-height: 1.7;
    color: #cc99ff;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.img {
    size: 10%;
}

.contact {
    background: #024e76;
}

.contact h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info>* {
    flex: 1;
    margin: 15px;
}



.contact-info h2 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }


    .section-title {
        width: 80%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }


    .img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
>>>>>>> 322f2610e97d1b2cdfef2c5c9b021f21f9b88285:assets/assets/css/style.css
}